# Python
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Database
db.sqlite3

# Media uploads
media/

# VS Code
.vscode/

# Static collected files
staticfiles/

# OS files
.DS_Store
Thumbs.db