{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Login to TweetHub</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary w-100">Login</button>
            </form>

            <hr>

            <p class="text-center mb-0">
                Don't have an account?
                <a href="{% url 'register' %}">Register here</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}