{% extends "layout.html" %}

{% block title %}
TweetHub
{% endblock title %}

{% block content %}

<div class="container mt-5">

    <h1 class="text-center mb-5">
        Are you sure you want to delete the tweet?
    </h1>

    <form method="post" class="d-flex justify-content-center gap-3">
        {% csrf_token %}
        <button class="btn btn-danger px-4">Delete</button>

        <a class="btn btn-success px-4" href="{% url 'tweet_list' %}">
            Cancel
        </a>
    </form>

</div>

{% endblock %}