{% extends "layout.html" %}

{% block title %}
TweetHub
{% endblock %}

{% block content %}

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">
    Create a Tweet
</a>

{% for item in tweet_data %}

<div class="card mb-4">
    
    {% if item.tweet.photo %}
    <div class="tweet-image-container">
        <img src="{{ item.tweet.photo.url }}"
            class="tweet-image"
            alt="Tweet Image">
    </div>
    {% endif %}

    <div class="card-body">

        <h5>
            <a href="{% url 'user_profile' item.tweet.user.username %}"
               class="text-decoration-none text-white">
                {{ item.tweet.user.username }}
            </a>
        </h5>

        <p class="card-text">
            {{ item.tweet.text }}
        </p>

        <small class="text-muted">
            {{ item.tweet.created_at }}
        </small>

        <hr>

        <strong>
            ❤️ {{ item.likes }} Likes
        </strong>

        <br><br>

        {% if user.is_authenticated %}

            {% if item.liked %}

                <a href="{% url 'unlike_tweet' item.tweet.id %}"
                   class="btn btn-danger btn-sm">
                    ❤️ Unlike
                </a>

            {% else %}

                <a href="{% url 'like_tweet' item.tweet.id %}"
                   class="btn btn-outline-danger btn-sm">
                    🤍 Like
                </a>

            {% endif %}

        {% endif %}

        {% if item.tweet.user == user %}

            <hr>

            <a href="{% url 'tweet_edit' item.tweet.id %}"
               class="btn btn-primary">
                Edit
            </a>

            <a href="{% url 'tweet_delete' item.tweet.id %}"
               class="btn btn-danger">
                Delete
            </a>

        {% endif %}

    </div>

</div>

{% empty %}

<div class="alert alert-info">
    No tweets available.
</div>

{% endfor %}

{% endblock %}